

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.bg-color{
    background-color: black;
}
.font-color{
     color: #FFFFFF;
}
/*shared style*/


.btn-primary{
    background-color: #E6533C;
    color: #FFFFFF;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 46px;
    font-size: 18px;
    border-style: none;
}
.second-btn{
    background-color: black;
    color: #FFFFFF;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 46px;
    font-size: 18px;
    border-color: #FFFFFF;
    margin-left: 20px;

}
/*banner style*/
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px 0 200px ;
}
.banner-content{
    width: 520px;
    height: 440px;
}
.banner-qoute{
    font-size: 78px;

}
i{
    font-weight: 200;
}
.banner-description{
    font-size: 16px;
    font-weight: 400;
}
.banner-img{
    width: 349px;
    height: 580px;
    margin-right: 214px;
}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 190px;
}
.nav-title{
   font-weight: 800;
    color:#E6533C;
    font-size: 36px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 47px;

}
nav li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    
}
/* change your habits style*/
.habits{
    text-align: center;
    gap: 14px;
    
}
.image{
    border-radius: 180px;
}
.alignment{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 58px 198px;
}
/*Run an extra mile easily*/
.run-spliting{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222222;
    margin: 100px 190px 100px 190px;
    border-radius: 18px;
}
.run-description{
    margin-left: 54px;
    margin-bottom: 40px;
    margin-top: -41px;
    max-width: 443px;

}
.run{
    width: 366px;
    height: 312px;
    border-radius: 18px;
    margin-right: 32px;
}
/* trainings and exercise style*/
.trainings{
    margin: 0 190px;

}
.exercise{
    height: 201.5px;
    display: flex;
    justify-content: space-between;
}
/*Shared tag style*/
h2{
    font-size: 48px;
    margin-top: 100px;
}
p{
   font-size: 14px;
   font-weight: 400;
   margin-bottom: 50;
   color: #FFFFFF; 
}

